<!-- this is where a specific bill can be views after being clicked on from the group page. this page should offer the options to pay the bill with a link to dwolla or to manuelly pay, route will probably be billview/:id where :id equals bill id


can we put the image of the bill on the top of this page if it exists -->

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/navbar')%>

    <main>

        <div class="main-carousel">
            <%# Bill Details%>
            <div class="carousel-cell details container">
                <h1 class="bill-title text-center font1"><%= numUsers[0].title %></h1>
                <h3 class="text-center font1">Total Amount of Bill: $ <%= numUsers[0].amount %></h3>
                <h3 class="text-center font1">Total Amount You Owe: $ <%= totalPerUser   %></h3>

            </div>
            <%# Bill Image%>
            <div class="carousel-cell img container">
                <img height="300" src="<%= numUsers[0].image_url %>" alt="<%= numUsers[0].title %>" />
            </div>


            <%# Pay Bill%>
          <div class="carousel-cell payBill container">
            <h1 class="text-center font1">Make A Payment</h1>
              <h3 class="text-center font2">Payment For: <%= numUsers[0].title %></h3>
                  <h3 class="text-center font2">Amount Owed: $
                      <%= totalPerUser %>
                  </h3>
                        <a class=" center-block btn btn-primary" href="#" action="/auth/dwolla" role="button" type="submit">Click Here To Pay With Dwolla</a>
          </div>
        </div>


        </section>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

    <%- include('../partials/flickity/scripts') %>

<%- include('../partials/ejsEnd') %>
