<!-- this is where a specific bill can be views after being clicked on from the group page. this page should offer the options to pay the bill with a link to dwolla or to manuelly pay, route will probably be billview/:id where :id equals bill id


can we put the image of the bill on the top of this page if it exists -->

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="https://npmcdn.com/flickity@1.2/dist/flickity.min.css">

</head>

<body>
    <%- include('../partials/navbar')%>

    <main>

        <div class="main-carousel">
            <%# Bill Details%>
            <div class="carousel-cell details">
                <h1 class="bill-title"><%= bill.title %></h1>
                <h3>Total Amount: <%= bill.amount %></h3>

            </div>
            <%# Bill Image%>
            <div class="carousel-cell img">
                <img height="300" src="<%= bill.image_url %>" alt="<%= bill.title %>" />
            </div>
        </div>

        <section>
            <%# <div class="row">
                <div class="col-xs-2"></div>

                <div class="col-xs-4">
                    <div class="jumbotron">
                        <form action="/auth/dwolla">
                            <input type="submit" value="Click Here To Pay With Dwolla">
                        </form>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="jumbotron">
                        <form action="^^^^^Update Bill^^^^^">
                            <input type="submit" value="Pay with cash, check, etc.">
                        </form>
                    </div>
                </div>
            </div>%>
        </section>
    </main>

    <%- include('../partials/flickity/scripts') %>

</body>

</html>
