<!-- this is where a specific bill can be views after being clicked on from the group page. this page should offer the options to pay the bill with a link to dwolla or to manuelly pay, route will probably be billview/:id where :id equals bill id


can we put the image of the bill on the top of this page if it exists -->

<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('../partials/head') %>
    </head>

    <body>
        <%- include('../partials/navbar')%>

        <main>

            <div class="main-carousel">
                <%# Bill Details%>
                <div class="carousel-cell details container">

                    <h1 class="bill-title text-center font1"><%= numUsers[0].title %></h1>
                    <h3 class="text-center font1">Total Amount of Bill: $
                        <%= numUsers[0].amount %></h3>
                    <h3 class="text-center font1">Total Amount You Owe: $
                        <%=  totalPerUser   %>
                    </h3>

                </div>
                <%# Bill Image%>

                <div class="carousel-cell img container">
                    <% if (numUsers[0].image_url) { %>
                        <img height="300" src="<%= numUsers[0].image_url %>" alt="<%= numUsers[0].title %>"/>
                    <% } else { %>
                        <img height="300" src="/assets/placeholder.png" alt="<%= numUsers[0].title %>"/>
                    <%}%>
                </div>

                <%# Pay Bill%>
                <div class="carousel-cell payBill container">
                    <h1 class="text-center font1">Make A Payment</h1>
                    <h3 class="text-center font2">Payment For:
                        <%= numUsers[0].title %></h3>
                    <h3 class="text-center font2">Amount Owed: $
                        <%= totalPerUser %>
                    </h3>
                    <div>
                        <h3>Pay With Dwolla</h3>

                        <form data-toggle="validator" role="form" method="post" action="/dwolla/payment?bill=<%=bill_id%>">
                            <div class="form-group">
                                <label for="DwollaPayment" class="control-label">Amount Paid:
                                </label>
                                <input type="number" class="form-control" id="DwollaPayment" name="DwollaPayment" placeholder="$ How much to pay? 25" required>
                            </div>

                            <button class="btn btn-primary btn-block btn-lg" type="submit">Click Here To Pay With Dwolla</button>

                        </form>

                    </div>
                    <div>
                        <h3>Mark as Paid</h3>
                        <form data-toggle="validator" role="form" method="post" action="/home/group/<%= group_id %>/bills/<%= bill_id %>">
                            <div class="form-group">
                                <label for="manPayment" class="control-label">Amount Paid:
                                </label>
                                <input type="number" step="0.01" class="form-control" id="manPayment" name="manPayment" placeholder="$ How much to pay? 5, 9.29, or 20 dollars?" required>
                            </div>
                            <input type="submit"></input>
                        </form>
                    </div>
                </div>
            </div>

        </section>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

    <%- include('../partials/flickity/scripts') %>

    <%- include('../partials/ejsEnd') %>
